html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.NavHome {
    grid-area: home;
}

.NavAbout {
    grid-area: about;
}

.NavPortfolio {
    grid-area: portfolio;
}

.NavContact {
    grid-area: contact;
}

.NavSearch {
    grid-area: search;
    justify-self: end;
    padding-right:3em;    
}

.Nav {
    height:1em;
    background-color: red;
    width:100vw;
    grid-area: navbar;
    display: grid;
    grid-template-areas: "home about portfolio contact . . . search";
    grid-template-columns: auto auto auto auto 1fr 1fr 1fr auto;
    gap: 1rem;
    padding: 1rem;
    position:fixed;

}

.Bannar {
    height: 19em;
    background-color: grey;
    grid-area: bannar;
    display: grid;
}

.BannarText {
    background-color: black;
    color: white;
    place-self: center;
}

.AboutTitle {
    grid-area: abouttitle;
}

.AboutQuote {
    grid-area: aboutquote;
}

.AboutDesc {
    grid-area: aboutdesc;
}

.AboutName {
    grid-area: aboutname;
}

.AboutPhoto {
    grid-area: aboutphoto;
}

.AboutWelcome {
    grid-area: aboutwelcome;
}

.AboutEnd {
    grid-area: aboutend;
}

.ASText1{
    grid-area:ast1;
}
.ASText2{
    grid-area:ast2;
}
.ASText3{
    grid-area:ast3;
}
.ASBox1{
    grid-area:asb1;
    width:60em;
    background-color: grey;
}
.ASBox2{
    grid-area:asb2;
    width:60em;
    background-color: grey;
}
.ASBox3{
    grid-area:asb3;
    width:60em;
    background-color: grey;
}
.ASFill{
    background-color: black;
    color:white;
    text-align: center;
}
.AboutShowoff {
    grid-area: aboutshowoff;
    display:grid;
    grid-template-areas: 
    "ast1 ast1"
    "asb1 asb1"
    "ast2 ast2"
    "asb2 asb2"
    "ast3 ast3"
    "asb3 asb3";
    gap:1em;
    justify-content: center;
    margin: 0 auto;
}

.AboutMe {
    width: 60em;
    grid-area: aboutme;
    display: grid;
    grid-template-areas:
        "abouttitle abouttitle"
        "aboutquote aboutquote"
        "aboutdesc aboutdesc"
        "aboutname aboutwelcome"
        "aboutphoto aboutwelcome"
        "aboutend aboutend"
        "aboutshowoff aboutshowoff";
    justify-content: center;
    margin: 0 auto;
}

.AboutMe>* {
    justify-self: center;
}

.ConnectionsPartnersNo {
    grid-area: cpn;
}

.ConnectionsProjectsDoneNo {
    grid-area: cpdn;
}

.ConnectionsHappyClientsNo {
    grid-area: chcn;
}

.ConnectionsMeetingsNo {
    grid-area: cmn;
}

.ConnectionsPartners {
    grid-area: cp;
}

.ConnectionsProjectsDone {
    grid-area: cpd;
}

.ConnectionsHappyClients {
    grid-area: chc;
}

.ConnectionsMeetings {
    grid-area: cm;
}

.Connections {
    height: 8em;
    background-color: yellow;
    grid-area: connections;
    display: grid;
    grid-template-areas:
        "cpn cpdn chcn cmn"
        "cp cpd chc cm";
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding-top: 35px;  
    padding-bottom: 40px;
    box-sizing: border-box;
    margin-left: calc(-50vw+50%);
    grid-template-rows: 1fr 1fr;
    grid-gap: 0;
}

.Connections>* {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.Portfolio {
    height: 19em;
    background-color: aqua;
    grid-area: portfolio;
    display: grid;
}

.PortfolioText {
    place-self: center;
}

.MyWorkTitle {
    grid-area: myworktitle;
}

.MyWorkText1 {
    grid-area: myworktext1;
}

.MyWorkText2 {
    grid-area: myworktext2;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.MyWorkTextGrid {
    grid-area: myworktextgrid;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 10px;
}

.MyWorkLoad {
    grid-area: myworkload;
}

.MyWork {
    width: 60em;
    grid-area: mywork;
    display: grid;
    grid-template-areas:
        "myworktitle"
        "myworktext1"
        "myworktext2"
        "myworktextgrid"
        "myworkload";
    justify-content: center;
    margin: 0 auto;
}

.MyWork>* {
    justify-self: center;
}

.Contact {
    height: 19em;
    background-color: aquamarine;
    grid-area: contact;
    display: grid;
}

.ContactText {
    place-self: center;
}

.WhereIWorkTitle {
    grid-area: wiwt;
    justify-self: center;
}

.WhereIWorkText {
    grid-area: wiwtx;
    justify-self: center;
}

.WhereIWorkPhoto {
    grid-area: wiwp;
}

.WhereIWorkLocation {
    grid-area: wiwl;
}

.WhereIWorkPhone {
    grid-area: wiwpn;
}

.WhereIWorkEmail {
    grid-area: wiwe;
}

.WhereIWorkDesc {
    grid-area: wiwd;
}

.WIWFName {
    grid-area: wiwfn;
}

.WIWFEmail {
    grid-area: wiwfe;
}

.WIWFMessage {
    grid-area: wiwfm;
}

.WIWFSubmit {
    grid-area: wiwfs;
}

.WhereIWorkForm {
    grid-area: wiwf;
    display: grid;
    grid-template-areas:
        "wiwfn wiwfn wiwfe wiwfe"
        "wiwfm wiwfm wiwfm wiwfm"
        "..... ..... ..... wiwfs";

}


.WhereIWork {
    width: 60em;
    grid-area: whereiwork;
    display: grid;
    grid-template-areas:
        "wiwt wiwt"
        "wiwtx wiwtx"
        "wiwp wiwl"
        "wiwp wiwpn"
        "wiwp wiwe"
        "wiwp wiwd"
        ".... wiwf";
    justify-content: center;
    margin: 0 auto;
}

/* .WhereIWork>*{
    justify-self:center;
} */
.WhereIWork>*[class*="wiwl"],
.WhereIWork>*[class*="wiwpn"],
.WhereIWork>*[class*="wiwe"],
.WhereIWork>*[class*="wiwd"],
.WhereIWork>*[class*="wiwf"] {
    justify-self: start;
}

.FooterButton {
    grid-area: fb;
}

.FooterText {
    grid-area: ft;
}

.FooterFacebook {
    grid-area: ff;
}

.FooterLinkedin {
    grid-area: fl;
}

.FooterPinterest {
    grid-area: fp;
}

.FooterSnapchat {
    grid-area: fs;
}

.FooterTwitter {
    grid-area: ft;
}

.FooterInstagram {
    grid-area: fi;
}

.FooterSocialBar {
    grid-area: fsb;
    display: grid;
    grid-template-areas:
        "ff fi fs fp ft fl";
    grid-template-columns: auto auto auto auto auto auto;

}

.Footer {
    height: 16em;
    background-color: grey;
    grid-area: footer;
    display: grid;
    grid-template-areas:
        "fb"
        "fsb"
        "ft";
    grid-template-rows: auto auto auto;
    gap: 2rem;
    padding: 1rem;
    align-content: center;
    justify-content: center;

}

.Footer>* {
    justify-self: center;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-areas:
        "navbar"
        "bannar"
        "aboutme"
        "connections"
        "portfolio"
        "mywork"
        "contact"
        "whereiwork"
        "footer";
}