
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;

}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #15151f;
    padding: 10px 20px;
    height: 50px;
    gap: 200px;
}
.navbar .logo {
    font-size: 2em;
    font-weight: 700;
    color: white;
}
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    margin-left: 20px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}
.navbar ul li a:hover {
    color: blue;
}
.container {
    position: relative;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1713946598509-c8be7b08bf5b?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
    background-size: cover;
    background-position: center;
}
.content {
    border-radius: 30px;
    position: absolute;
    right: 100px;
    top: 100px;
    width: 40%;
    height: 80%;
    background-color: rgba(28, 28, 112, 0.941);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.content h1 {
    margin: 0;
    margin-right: 150px;
    font-size: 3rem;
    text-align: left;
    
}
.content p {
    margin: 20px 0;
    font-size: 1.2em;
    padding-left: 60px;
    padding-right: 60px;
}
.content button {
  margin-left: -300px;
  margin-top: 20px;
    padding: 10px 40px;
    font-size: 1em;
    color: #041e39;
    background-color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.content button:hover {
    background-color: #0056b3;
    color: white;
}
.part2 {
    width: 100%;
    max-width: 100%;
    height: 90vh;
    background-color: rgb(235, 235, 235);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container2{
    max-width: 900px;
    padding: 145px;
    padding-left: 300px;
}
.container2 h1 {
    font-size: 3em;
    color: #333;
}
.container2 h4 {
    font-size: 1em;
    color: #1c5cd4;
}
.container2 p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}
 .signature {
    margin-top: 20px;
    font-size: 2em;
    color: #323131;
    text-align: left;
}
.part3 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header3 {
    text-align: left;
    margin-bottom: 40px;
    margin-left: 150px;
}
.header3 h1 {
    font-size: 2.5em;
    color: #333;
}
.header3 h2 {
    font-size: 1.5em;
    color: #555;
}
.section3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-left: 100px;
     padding-right: 100px;
}
.section3 .box3 {
    width: 48%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section3 .box3 h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}
.section3 .box3 p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}
.section3 .box3 img {
   
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
}
.section4 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-left: 30px;
}
.section4 .box4 {
    width: 48%;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section4 .box4 p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}
.section4 .box4 img {
   
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
}
.divb{
    display: flex;
    justify-content: left;
    gap: 50px;
}

.part5 button {
   
      padding: 10px 40px;
      font-size: 1em;
      color: #041e39;
      background-color: white;
      border-radius: 30px;

      border: 1px solid black;
      cursor: pointer;
  }
.footer {
    background-color: #02142e;
    color: white;
    text-align: center;
    padding: 40px 0;
}
.footer h2 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 36px;
}
.footer h1 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 48px;
}
.footer p {
    margin: 10px auto;
    line-height: 1.6em;
    max-width: 600px;
}
.social-buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.social-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: #23395B;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.social-buttons button:hover {
    background-color: #1a2a3b;
}
